apiVersion: v1
kind: ResourceQuota
metadata:
  name: cobalt-services-quota
  namespace: cobalt-services
spec:
  hard:
    requests.cpu: "12"
    requests.memory: 24Gi
    limits.cpu: "24"
    limits.memory: 48Gi
    pods: "50"
