environment            = "staging"
aws_region             = "us-east-1"
vpc_cidr               = "10.2.0.0/16"
domain_name            = "staging.cobaltplatform.com"
alert_email            = "alerts@example.com"
enable_secret_rotation = false
